.video_list {
    display: inherit;
}

.video_layout:hover .close_button{
    display: block;
}

 video{
    object-fit: initial;
    height: 300px;
}

.body {
    width:95%;
    margin: auto;
}

.messages {
    margin: auto;
}
