a {
    text-decoration: none;
}

#logout_link:hover{
    color: white;
}

.close_button:hover {
    color:red;
}

.video_list {
    display: inherit;
}

.video_layout:hover .close_button{
    display: block;
}

 video{
    object-fit: cover;
    height: 300px;
}

.body {
    width:95%;
    margin: auto;
}

.messages {
    margin: auto;
}

.input {
    text-align: right;
}

.author_info {
    display:none;
    margin:auto;
    background-color: #79b1ea;
    width:fit-content;
    box-sizing: border-box;
    padding: 7px;
    line-height: 60%;
    overflow: hidden;
    padding-top:3%;
    position:absolute;
    bottom:130%;
    left: 0;
    right: 0;

}

.author_info p{
}

figcaption {
    position:relative;
}

figcaption:hover .author_info{
    display: inline-block;
}

.row_content th {
    font-weight: normal;
}


.inline-group input{
    width:5%;
    vertical-align: baseline;
    display: inline;
}

.inline-group label{
    display: inline;
}

.header_label{
    font-size: 12pt;
}