<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--suppress JSUnresolvedLibraryURL -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile.css' %}">

    {% block title %}
        <title>VideoUploader</title>
    {% endblock %}

</head>
<body style="width:95%; margin: auto">

        <header class="row align-bottom" style="max-width: 100%">

            {% if request.user.is_authenticated %}
                <div class="col-md-3 offset-md-1">
                    <nav class="navbar navbar-expand-lg">
                        <div class="collapse navbar-collapse">
                            <a href="/viewer" class="nav-link display-5 color=black">VideoUploader</a>
                        </div>

                    </nav>
                </div>



                    <div class="col-md-7 col-xs-12 offset=5 " style="margin-top: 0.8%">
                        <nav class="navbar navbar-expand-lg bg-info">
                            <div class="collapse navbar-collapse justify-content-center">
                                <ul class="navbar-nav">
                                        <li class="nav-item"><a class="nav-link link-dark">Пользователь: {{ request.user.username }}</a></li>
                                        <li class="nav-item"><a class="nav-link link-dark" href="{% url 'logout' %}">Выйти</a></li>

                                </ul>
                            </div>
                        </nav>
                    </div>
            {% endif %}
        </header>

    {% block content %}
    {% endblock %}

</body>
</html>
