{%  extends 'base.html' %}
{% load static %}


{% block content %}

    {% for file in files %}

        {% if request.user.is_authenticated %}
            <div class="col-md-12" style="display: inline-block;">
                {% if file.size > 20 %}
                    <video style="display:block;max-width:100%;margin-left:auto;margin-right:auto " src="{{ file.url }}" controls autoplay>></video>
                {% else %}
                    <video style="display:block;max-width:100%;margin-left:auto;margin-right:auto " src="{{ file.url }}" controls autoplay>></video>
                {% endif %}
                <figcaption style="text-align: center">{{ file.name }}</figcaption>
            </div>
        {% endif %}

        <!--<video style="display:block;max-width:100%;margin-left:auto;margin-right:auto " src="{{ file.url }}" controls autoplay>></video>-->

    {% endfor %}

{% endblock %}