{%  extends 'base.html' %}
{% load static %}


{% block content %}

    <div class="content col-md-10 offset-md-1" style="margin-top: 3%">

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li style="width:max-content;display:block;font-size: 14pt;color:white;margin-top:3%;background-color: crimson;
                        margin-left:auto; margin-right:auto;overflow: visible;"
                        class="{{ message.tags }}">
                        {{ message|safe }}
                        <a href="" class="close">✖</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="col-md-12" style="display: inline-block;margin-top:3%">

            <div class="row">
                {% for file in files %}

                    <figure id="fig" class="col-md-4" style="display:inline-block">

                        <video class="video_layout col-md-12" src="{{ file.proxy_file_url }}" controls preload=metadata></video>

                        <figcaption style="width:97%;display: inline-block;text-align: center">{{ file.name }}

                            <div class="author_info ">
                                <p>Размер: {{ file.size }} мб</p>
                                <p>Загрузил: {{ file.author }}</p>
                                {% if file.contact_info %}
                                    <p>Контакты: {{ file.contact_info }}</p>
                                {% endif %}
                            </div>

                        </figcaption>

                        <a href="{% url 'удалить видео' file.id %}" class="close_button" style="width:3%;display:block;float:right">X</a>

                    </figure>

                {% endfor %}
            </div>
        </div>

    </div>

{% endblock %}