{%  extends 'base.html' %}
{% load static %}


{% block content %}


    <nav aria-label="Page navigation example">
              <ul class="pagination">

                  <!--{% if files_list.has_previous %}
                    <li><a class="page-link" href="?page=1">&laquo Первая</a></li>
                    <li><a class="page-link" href="?page={{ files_list.previous_page_number }}">Предыдущая</a></li>
                  {% endif %}-->


                  {% for i in nums %}
                      {% if forloop.counter == files_list.number %}
                        <li class="page-item disabled"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                      {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                      {% endif %}
                  {% endfor %}

                  <br>


                  <!--{% if files_list.has_next %}
                      <li><a class="page-link" href="?page={{ files_list.next_page_number }}">Следующая</a></li>
                      <li><a class="page-link" href="?page={{ files_list.paginator.num_pages }}">Последняя &raquo </a></li>
                  {% endif %}-->
              </ul>
              <!--<ul class="pagination">
                <li class="page-item disabled"><a href="#" class="page-link">Страница {{ files_list.number }}
                        из {{ files_list.paginator.num_pages }}</a></li>
              </ul>-->
    </nav>

    <br>

    <div class="table-responsive">

            {% for file in files_list %}
                <table class="table" style="margin-bottom: 15%;border:solid">

                    <tbody>
                        <tr style="text-align: center;" class="">
                            <td>{{ file.id }}</td>
                        </tr>
                        <tr style="text-align: center;" class="">
                            <td>{{ file.contact_info }}<br>({{ file.author }})</td>
                        </tr>
                        <tr style="text-align: center;word-break: break-all;" class="">
                            <td style="text-align: center">{{ file.author_desc }}</td>
                        </tr>
                        <tr style="text-align: center" class="">
                            {% if file.size > 600 %}
                                <td style="text-align: center"><a style="text-decoration: none" target="_blank" download=""
                                                                  href="{{ file.url }}">Загрузить</a></td>
                            {% else %}
                                <td style="text-align: center"><a style="text-decoration: none" target="_blank"
                                                                  href="{{ file.url }}">Загрузить</a></td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td style="text-align: center;"><a style="text-decoration: none"
                                                              href="{% url 'удалить видео' file.id %}" class="close_button">Удалить</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            {% endfor %}



    </div>

    <br>

    <nav aria-label="Page navigation example">
              <ul class="pagination">

                  <!--{% if files_list.has_previous %}
                    <li><a class="page-link" href="?page=1">&laquo Первая</a></li>
                    <li><a class="page-link" href="?page={{ files_list.previous_page_number }}">Предыдущая</a></li>
                  {% endif %}-->


                  {% for i in nums %}
                      {% if forloop.counter == files_list.number %}
                        <li class="page-item disabled"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                      {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                      {% endif %}
                  {% endfor %}

                  <br>


                  <!--{% if files_list.has_next %}
                      <li><a class="page-link" href="?page={{ files_list.next_page_number }}">Следующая</a></li>
                      <li><a class="page-link" href="?page={{ files_list.paginator.num_pages }}">Последняя &raquo </a></li>
                  {% endif %}-->
              </ul>
              <!--<ul class="pagination">
                <li class="page-item disabled"><a href="#" class="page-link">Страница {{ files_list.number }}
                        из {{ files_list.paginator.num_pages }}</a></li>
              </ul>-->
            </nav>


{% endblock %}