{%  extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block content %}

    <div class="content col-md-10 offset-md-1" style="margin-top: 3%">

        <div class="form-group col-md-4 offset-md-4" style="text-align: center;
            border: 2px solid black; border-radius: 16px;">

            <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data" style="margin:3%">
                {% csrf_token %}
                {{ form|crispy }}
                <p>Выберите видеофайл</p>
                <p>размер до 200 Мб.</p>
                <br>
                <input type='file' onchange="check_file_size(this)" name="video" title="Выбрать видеофайл" id="file">
                <br>
                <p style="color: red;display: none; margin-top: 3%" id="size_warning">Слишком большой файл!</p>
                <br>

                <label for="user_desc">Описание ролика:</label>
                <br>
                <textarea style="width:75%;height:180px" name="user_desc" placeholder="Не более 300 символов" id="user_desc"
                          maxlength="300"></textarea>
                <br>

                <label for="username">Имя (username): *</label>
                <br>
                <input type="text" name="username" id="username" required
                       oninvalid="setCustomValidity('Пожалуйста введите имя.')" oninput="setCustomValidity('')">
                <br><br>
                <label for="contact_info">Контактная информация:</label>
                <br>
                <input type="text" name="contact_info" placeholder="Номер телефона или e-mail" id="contact_info" >
                <br>
                <br>
                <div class="inline-group">
                    <input type="checkbox" required name="terms" value="check" id="agree"
                           oninvalid="setCustomValidity('Пожалуйста подтвердите Ваше согласие с условиями.')"
                           oninput="setCustomValidity('')">
                    <label for="agree">Согласие с <a href="#">условиями сервиса</a> и <a href="#">политикой конфиденциальности</a></label>
                </div>
                <br>
                <button type="submit" class="btn btn-success" style="margin-top:5%">Отправить</button>
            </form>

        </div>

        <script>

          function checkForm(form) {
            if(!form.terms.checked) {
              alert("Please indicate");
              form.terms.focus();
              return false;
            }
            return true;
          }

          function check_file_size(input) {
              let file_size = input.files[0].size
              let size_warning = document.getElementById("size_warning")
              if (file_size > 200000000) {
                  size_warning.style.display = "block"
              }
              else {
                  size_warning.style.display = "none"
              }

          }

        </script>


        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li style="width:max-content;display:block;font-size: 14pt;color:white;margin-top:3%;background-color: crimson;
                        margin-left:auto; margin-right:auto;overflow: visible;"
                        class="{{ message.tags }}">
                        {{ message|safe }}
                        <a href="" class="close">✖</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

    </div>

{% endblock %}