{%  extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block content %}

    <div class="content col-md-10 offset-md-1" style="margin-top: 3%">

        <div class="form-group col-md-4 offset-md-4" style="text-align: center;
            border: 2px solid black; border-radius: 16px;">

            <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data" style="margin:3%">
                {% csrf_token %}
                {{ form|crispy }}
                <p>Выберите видеофайл</p>
                <br>
                <input type='file' name="video" title="Выбрать видеофайл" id="file" >
                <br><br>
                <label for="username">Имя (username): *</label>
                <br>
                <input type="text" name="username" id="username" required
                       oninvalid="setCustomValidity('Пожалуйста введите имя.')" oninput="setCustomValidity('')">
                <br><br>
                <label for="email">Email:</label>
                <br>
                <input type="email" name="email" id="email" >
                <br><br>
                <label for="phone" >Телефон:</label>
                <br>
                <input type="tel" name="phone" id="phone" placeholder="Номер без пробелов" pattern="[0-9]{10}">
                <br><br>
                <input type="checkbox" required name="terms" value="check" id="agree"
                       oninvalid="setCustomValidity('Пожалуйста подтвердите Ваше согласие с условиями.')"
                       oninput="setCustomValidity('')">

                <label for="agree">bla-bla</label><br>
                <button type="submit" class="btn btn-success" style="margin-top:5%">Отправить</button>
            </form>

        </div>

        <script>

          function checkForm(form) {
            if(!form.terms.checked) {
              alert("Please indicate");
              form.terms.focus();
              return false;
            }
            return true;
          }

        </script>


        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li style="width:max-content;display:block;font-size: 14pt;color:white;margin-top:3%;background-color: crimson;
                        margin-left:auto; margin-right:auto;overflow: visible;"
                        class="{{ message.tags }}">
                        {{ message|safe }}
                        <a href="" class="close">✖</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

    </div>

{% endblock %}